@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-navy: #003399;
  --color-navy-light: #0055cc;
  --color-navy-dark: #001a66;
  --color-navy-highlight: #4488ff;
  --color-navy-muted: #aaccff;

  --color-brand-yellow: #ffdd00;
  --color-brand-yellow-dark: #cc9900;
  --color-brand-orange: #ff6600;


  --color-surface-page: #e8e4d8;
  --color-surface-card: #f5f3ec;
  --color-surface-chrome: #c8c8d4;
  --color-surface-input: #fffef5;

  --font-vt: "VT323", monospace;
  --font-mono: "Share Tech Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

@layer utilities {
  .wrapper {
    @apply w-11/12 mx-auto max-w-[95%];
  }

  /* .form-input {
    @apply bg-surface-input
  } */

  form {

    .item {
      @apply flex flex-col
    }

    label {
      @apply text-xs font-bold
    }

    input {
      @apply bg-surface-page border border-surface-chrome h-10 rounded-md
    }
  }
}